<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Buddy | Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"> -->
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='myfont/css/all.min.css')}}"> -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='asset/gym3.png') }}" type="image/x-icon">
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>

</head>

<body class="reg-body reg-body-login" id="pic">
    <div class="pre-form-reg">
        <div class="outer-form log-shadow">
            <form class="reg-form" autocapitalize="none" autocomplete="off" action="/login" method="POST">


                <center>
                    <h2>Login here</h2>
                </center>
                <hr style="background-color: black;">

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category,message in messages %}
                <div class="alert" style="font-family: sans-serif; font-size: 20px; color: {{category}};">{{message}}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div class="form-group-reg">
                    <label class="reg-lebel login-lebel">Username</label>
                    <div class="input-icons">
                        <i class="bi-person-circle icon"></i>
                        <input type="text" class="form-control-reg" name="username" spellcheck="true" required
                            placeholder="Enter your full name" autocomplete="off">
                    </div>
                </div>


                <div class="form-group-reg">
                    <label class="reg-lebel login-lebel">Password</label>
                    <div class="input-icons">
                        <i class="bi bi-key icon-pass"></i>
                        <i class="far fa-eye" id="togglePassword" style="cursor: pointer;"></i>
                        <input type="password" id="password" class="form-control-reg" name="password" required
                            maxlength="30" autocomplete="off" aria-autocomplete="none" placeholder="Enter Password">
                    </div>

                </div>
                <br>
                <input type="submit" value="Login" class="btn-grad-login btn btn-block">
                <a href="{{url_for('register')}}" class="btn-grad1-login btn btn-block">Create New Account</a>
            </form>
        </div>

    </div>
    </div>
    <!-- <script>
        var images = ["static/back-image/1bg.jpg", "static/back-image/bg3.jpg", "static/back-image/bg5.jpg", "static/back-image/bg6.jpg", "static/back-image/nutrition.jpg"];
        var i = 0;
        var renew = setInterval(function () {
            if (images.length == i) {
                i = 0;
            }
            else {
                document.getElementById("pic").style.backgroundImage = "url(" + images[i] + ")";
                i++;
            }
        }, 5000);
    </script> -->

    
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');

        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // toggle the eye slash icon
            this.classList.toggle('fa-eye-slash');
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".alert").hide(5000)
        });
    </script>
</body>

</html>